{% block sw_cms_block_four_column %}
    <div class="sw-cms-block-four-column">
        <slot name="col1"></slot>
        <slot name="col2"></slot>
        <slot name="col3"></slot>
        <slot name="col4"></slot>
    </div>
{% endblock %}
