{% block sw_cms_preview_horizontal_product_collection %}
    <div class="sw-cms-preview-horizontal-product-collection">
        <h2>Title</h2>
        <div>Description</div>
        <div class="cards">
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
        </div>
    </div>
{% endblock %}
