#product-detail-cross-selling-tabs {
    justify-content: center;
    margin-top: 48px;

    .nav-link {
        border: none;
        color: #000;
        font-family: "Roboto Slab";
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
