{% block sw_cms_block_horizontal_product_collection %}
    <div class="sw-cms-block-horizontal-product-collection">
        <slot name="heading"></slot>
        <div class="cards">
            <slot name="one"></slot>
            <slot name="two"></slot>
            <slot name="three"></slot>
            <slot name="four"></slot>
        </div>
    </div>
{% endblock %}
