{% sw_extends "@Storefront/storefront/layout/header/logo.html.twig" %}

{% block layout_header_logo_inner %}
<a class="header-logo-main-link" href="{{ path('frontend.home.page') }}">

</a>
{% endblock %}
