{% block sw_cms_preview_four_column %}
    <div class="sw-cms-preview-four-column">
        <div class="cards">
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
            <sw-cms-product-box-preview></sw-cms-product-box-preview>
        </div>
    </div>
{% endblock %}
